/* creating css loader */


#loading {
    width: 3rem;
    height: 3rem;
    margin-left: 51.8%;
    margin-top: 20%;
    border: 8px solid rgba(192, 214, 229, 0.71);
    border-top: 9px solid rgba(156, 65, 242, 0.85);
    border-radius: 100%;

    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}