.calendar {
  height: 300px;
  object-fit: cover;
  position: absolute;
  left: 17%;
  top: 5%;
  width: 900px;
}
.button {
  height: 300px;
  object-fit: cover;
  position: absolute;
  left: 25%;
  top: 50%;
  width: 300px;
}
@keyframes animate-enter2-frames {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: none;
  }
}
