.calendar {
  /*height: 300px;*/
  object-fit: cover;
  position: absolute;
  min-width: 65%;

  left: 17%;
  padding-top: 60px;

}
.button {
  object-fit: cover;
  position: absolute;
  left: 25%;
  top: 100%;
  width: 50%;
  border-radius: 12px;
}

.wrapper{

}


@keyframes animate-enter2-frames {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: none;
  }
}
