.logo {
  cursor: pointer;
  display: flex;
  height: 42px;
  left: 491px;
  pointer-events: auto;
  position: absolute;
  top: 26px;
  transition: all 0.2s ease;
  width: 542px;
}

.logo:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.text-3 {
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: -5.5px;
  margin-top: 3.5px;
  white-space: nowrap;
  width: 542px;
}

