.web-1920-signup {
  background-color: var(--white);
  height: 1079px;
  overflow: hidden;
  width: 1920px;
  opacity: 0;filter: blur(10px);
}

.web-1920-signup.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease-out 0.00s 1 normal forwards;
  opacity: 0;filter: blur(10px);
}

.overlap-group5 {
  height: 1051px;
  left: -440px;
  position: relative;
  width: 2800px;
}

.path-4606 {
  height: 972px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 1275px;
}

.path-4643 {
  height: 424px;
  left: 2128px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 390px;
}

.group-4808 {
  align-items: flex-end;
  display: flex;
  height: 736px;
  left: 568px;
  min-width: 1657px;
  position: absolute;
  top: 213px;
}

.sign-in-page {
  height: 734px;
  object-fit: cover;
  width: 741px;
}

.form {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid #d9d9da;
  display: flex;
  flex-direction: column;
  margin-left: 279px;
  min-height: 736px;
  padding: 29px 120px;
  width: 637px;
}

.agile-sprite-1 {
  align-self: flex-end;
  height: 159px;
  margin-right: 118px;
  object-fit: cover;
  width: 162px;
}

.sign-up-1 {
  align-self: center;
  color: var(--blueberry);
  font-family: var(--font-family-tahoma-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 32px;
  min-height: 44px;
  min-width: 137px;
  white-space: nowrap;
}

.full-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  min-height: 75px;
  width: 396px;
}

.full-name-1 {
  letter-spacing: 0.11px;
  line-height: 16px;
  margin-top: 2px;
  min-height: 21px;
  white-space: nowrap;
}

.overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 2px;
  min-width: 396px;
  padding: 12.5px 11.5px;
}

.icon {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.0px;
  min-height: 18px;
  width: 15px;
}

.ellipse-7 {
  border: 1.5px solid var(--dove-gray);
  border-radius: 4.5px;
  height: 10px;
  margin-left: 2.25px;
  width: 10px;
}

.path-51 {
  height: 9px;
  margin-left: -0.75px;
  object-fit: cover;
  width: 16px;
}

.enter-full-name {
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0.05px;
  line-height: 24px;
  margin-left: 15px;
  padding: 0;
  white-space: nowrap;
  width: 338px;
}

.enter-full-name::placeholder {
  color: #70707099;
}

.password {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 75px;
  width: 396px;
}

.password-1 {
  letter-spacing: 0.11px;
  line-height: 16px;
  margin-top: 2px;
  min-height: 21px;
  white-space: nowrap;
}

.overlap-group2-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 2px;
  min-width: 396px;
  padding: 0 7.5px;
}

.lock {
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  margin-bottom: 3.0px;
  width: 20px;
}

.password-2 {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0.05px;
  line-height: 24px;
  margin-left: 12px;
  margin-top: 3.0px;
  padding: 0;
  white-space: nowrap;
  width: 342px;
}

.password-2::placeholder {
  color: #70707099;
}

.confiirm-password {
  letter-spacing: 0.11px;
  line-height: 16px;
  margin-top: 2px;
  min-height: 21px;
  white-space: nowrap;
}

.overlap-group3-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 50px;
  margin-top: 2px;
  min-width: 396px;
  padding: 0 14.5px;
}

.confirm-password {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0.05px;
  line-height: 24px;
  margin-left: 12px;
  margin-top: 3.0px;
  padding: 0;
  white-space: nowrap;
  width: 330px;
}

.confirm-password::placeholder {
  color: #70707099;
}

.signup-buton {
  background-color: var(--blueberry);
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  margin-top: 16px;
  pointer-events: auto;
  transition: all 0.15s ease-in-out;
  width: 396px;
}

.signup-buton:hover {
  transform: scale(0.9); 
}

.overlap-group-4 {
  border-radius: 4px;
  height: 50px;
  position: relative;
}

.hover {
  background-color: #3e5bd6;
  border-radius: 4px;
  height: 50px;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 396px;
}

.hover:hover {
  opacity: 1;
}

.sign-up-2 {
  color: var(--white);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xxs);
  left: 167px;
  letter-spacing: 0.13px;
  line-height: 18px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.overlap-group4 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2800px;
}

.bgborder {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 100px;
  position: absolute;
  top: 0;
  width: 2800px;
}

.white-bg-1 {
  background: linear-gradient(180deg, #0e67ee 0%, rgba(69, 118, 190, 0.56) 0%, rgba(32, 114, 236, 0.65) 5.01%, rgba(48, 120, 227, 0.47) 35.56%, rgba(63, 110, 180, 0.34) 100%);
  height: 100px;
  width: 2800px;
}

.border-top-bar-1 {
  background: linear-gradient(180deg, #0e67ee 0%, rgba(69, 118, 190, 0.56) 0%, rgba(32, 114, 236, 0.65) 5.01%, rgba(48, 120, 227, 0.47) 35.56%, rgba(63, 110, 180, 0.34) 100%);
  height: 1px;
  width: 2800px;
}

.menu-1 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 2055px;
  min-width: 222px;
  position: absolute;
  top: 35px;
}

.login-1 {
  cursor: pointer;
  display: flex;
  height: 31px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 68px;
}

.login-1:hover {
  transform: scale(1.1);
}

.group-143614-2 {
  flex: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 68px;
}

.group-143614-2:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.overlap-group-3 {
  height: 29px;
  position: relative;
  top: 2px;
}

.path-4599-1 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 68px;
}

.log-in-1 {
  left: 0;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.signup-1 {
  display: flex;
  height: 31px;
  margin-left: 80px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 74px;
}

.signup-1:hover {
  transform: scale(1.1);
}

.group-143614-3 {
  cursor: pointer;
  flex: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 76px;
}

.group-143614-3:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.sign-up-3 {
  left: 0;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.text-4 {
  left: 474px;
  letter-spacing: 0;
  line-height: 35px;
  pointer-events: auto;
  position: absolute;
  top: 30px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.text-4:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;filter: blur(10px);
}
to{opacity: 1;filter: none;
}
}

