/* creating css loader */


#login_loading {
    width: 2rem;
    height: 2rem;
    margin-top: 13px;
    margin-bottom: 6px;
    border: 6px solid #f3f3f3;
    border-top: 7px solid #9c41f2;
    border-radius: 100%;

    visibility: hidden;
    animation: spin 1s infinite linear;
}
#login_loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}