.loginForm {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  width: 1920px;
  opacity: 0;
filter: blur(10px);
}

.loginForm.animate-enter2 {
  animation: animate-enter2-frames 0.20s ease-out 0.00s 1 normal forwards;
  opacity: 0;
filter: blur(10px);
}

.loginWholePage {
  height: 1051px;
  left: -440px;
  position: relative;
  width: 2800px;
}

.backgroundShapeLeft {
  height: 972px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 1275px;
}

.backgroundShapeRight {
  height: 424px;
  left: 2128px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 390px;
}

.insidePageComponents {
  align-items: flex-end;
  display: flex;
  height: 736px;
  left: 568px;
  min-width: 1657px;
  position: absolute;
  top: 213px;
}

.sign-in-page {
  height: 734px;
  object-fit: cover;
  width: 741px;
}

.form {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin-left: 279px;
  min-height: 736px;
  padding: 29px 118px;
  width: 637px;
}

.agile-sprite-login_image {
  height: 159px;
  margin-right: 1.0px;
  object-fit: cover;
  width: 162px;
}

.log-in-text {
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 32px;
  min-height: 44px;
  min-width: 109px;
  white-space: nowrap;
}

.email {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 1px;
  min-height: 75px;
  width: 396px;
}

.email-1 {
  letter-spacing: 0.11px;
  line-height: 16px;
  margin-top: 2px;
  min-height: 21px;
  white-space: nowrap;
}

.overlap-group2-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 2px;
  min-width: 396px;
  padding: 12.5px 7.5px;
}

.overlap-group-8 {
  height: 17px;
  margin-bottom: 1.15px;
  position: relative;
  width: 24px;
}

.rectangle-52 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.path-54 {
  height: 9px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 24px;
}

.enter-email-address {
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0.05px;
  line-height: 24px;
  margin-left: 10px;
  padding: 0;
  white-space: nowrap;
  width: 342px;
}

.enter-email-address::placeholder {
  color: #70707099;
}

.password {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 25px;
  min-height: 75px;
  width: 396px;
}

.password-1 {
  letter-spacing: 0.11px;
  line-height: 16px;
  margin-top: 2px;
  min-height: 21px;
  white-space: nowrap;
}

.overlap-group1-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-top: 2px;
  min-width: 396px;
  padding: 0 7.5px;
}

.lock {
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  margin-bottom: 3.0px;
  width: 20px;
}

.password-2 {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0.05px;
  line-height: 24px;
  margin-left: 12px;
  margin-top: 3.0px;
  padding: 0;
  white-space: nowrap;
  width: 342px;
}

.password-2::placeholder {
  color: #70707099;
}


.login-btn:hover {
  transform: scale(0.9);
}

.login-btn {
  background-color: var(--blueberry);
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  margin-right: 2.0px;
  margin-top: 42px;
  pointer-events: auto;
  transition: all 0.15s ease-in-out;
  width: 396px;

  position: relative;
  left: 0px;
  line-height: 30px;
  white-space: nowrap;

  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  padding: 0.6em;
  text-align: center;
  color: #ffffff;
}

.hover {
  background-color: var(--royal-blue);
  border-radius: 4px;
  height: 50px;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 396px;
}

.hover:hover {
  opacity: 1;
}

.login-3 {
  left: 167px;
  letter-spacing: 0.13px;
  line-height: 18px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 23px;
  margin-top: 10px;
  min-width: 398px;
}

.forgot-password {
  cursor: pointer;
  letter-spacing: 0.10px;
  line-height: 22px;
  min-height: 23px;
  min-width: 136px;
  white-space: nowrap;
}

.sign-up-now {
  cursor: pointer;
  letter-spacing: 0.10px;
  line-height: 22px;
  margin-left: 160px;
  min-height: 23px;
  white-space: nowrap;
}

.loginPageHeaderBar {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2800px;
}

.menu-2 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 2055px;
  min-width: 222px;
  position: absolute;
  top: 35px;
}

.login-4 {
  display: flex;
  height: 31px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 68px;
}

.login-4:hover {
  transform: scale(1.1);
}

.signup-2 {
  cursor: pointer;
  display: flex;
  height: 31px;
  margin-left: 80px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 74px;
}

.signup-2:hover {
  transform: scale(1.1);
}

.text-6 {
  cursor: pointer;
  left: 474px;
  letter-spacing: 0;
  line-height: 35px;
  pointer-events: auto;
  position: absolute;
  top: 30px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.text-6:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

