.forgotpassword {
  background-color: var(--white);
  height: 1079px;
  overflow: hidden;
  position: relative;
  width: 1920px;
  opacity: 0;
filter: blur(10px);
}

.forgotpassword.animate-enter4 {
  animation: animate-enter4-frames 0.20s ease-out 0.00s 1 normal forwards;
  opacity: 0;
filter: blur(10px);
}

.overlap-group4-2 {
  height: 1051px;
  left: -440px;
  position: absolute;
  top: 0;
  width: 2800px;
}

.path-4606-3 {
  height: 972px;
  left: 171px;
  object-fit: cover;
  position: absolute;
  top: 79px;
  width: 1275px;
}

.overlap-group2-4 {
  height: 878px;
  left: 1077px;
  position: absolute;
  top: 123px;
  width: 760px;
}

.form-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 878px;
  padding: 15px 133px;
  position: absolute;
  top: 0;
  width: 760px;
}

.agile-sprite-4 {
  height: 159px;
  margin-right: 2px;
  object-fit: cover;
  width: 162px;
}

.account-recovery {
  letter-spacing: 0;
  line-height: 35px;
  margin-left: 1px;
  margin-top: 46px;
  min-height: 44px;
  min-width: 307px;
  white-space: nowrap;
}

.signup-btn-2 {
  align-self: flex-start;
  background-color: var(--blueberry);
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  margin-top: 31px;
  pointer-events: auto;
  transition: all 0.15s ease-in-out;
  width: 492px;
}

.signup-btn-2:hover {
  transform: scale(0.9); 
}

.overlap-group-17 {
  border-radius: 4px;
  height: 50px;
  position: relative;
}

.hover-2 {
  background-color: var(--royal-blue);
  border-radius: 4px;
  height: 50px;
  left: 0;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 492px;
}

.hover-2:hover {
  opacity: 1;
}

.confirm {
  left: 215px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.text-9 {
  -webkit-text-stroke: 1px var(--dove-gray);
  left: 152px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 321px;
  white-space: nowrap;
}

.overlap-group3-3 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2800px;
}

.menu-4 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 2055px;
  min-width: 222px;
  position: absolute;
  top: 35px;
}

.login-6 {
  cursor: pointer;
  display: flex;
  height: 31px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 68px;
}

.login-6:hover {
  transform: scale(1.1);
}

.signup-5 {
  cursor: pointer;
  display: flex;
  height: 31px;
  margin-left: 80px;
  pointer-events: auto;
  position: relative;
  transition: all 0.2s ease;
  width: 74px;
}

.signup-5:hover {
  transform: scale(1.1);
}

.text-10 {
  cursor: pointer;
  left: 474px;
  letter-spacing: 0;
  line-height: 35px;
  pointer-events: auto;
  position: absolute;
  top: 30px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.text-10:hover {
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
}

.path-4643-3 {
  height: 424px;
  left: 1688px;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 390px;
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

