.group-143614-3 {
  flex: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 68px;
}

.group-143614-3:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.overlap-group-7 {
  height: 29px;
  position: relative;
  top: 2px;
}

.path-4599-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 68px;
}

.log-in-1 {
  left: 0;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.group-143614-4 {
  flex: 1;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 68px;
}

.group-143614-4:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.overlap-group-8 {
  height: 29px;
  position: relative;
  top: 2px;
}

.path-4599-3 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 68px;
}

.log-in-2 {
  left: 0;
  letter-spacing: 0.16px;
  line-height: 22px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

